<div class="weather-info">
  <div class="weather-info-item weather-info-date">
    {{weatherInfo?.date}}
  </div>
  <div class="weather-info-item weather-info-day">
    {{weatherInfo?.day}}
  </div>
  <div class="weather-info-item weather-info-humidity">
    {{weatherInfo?.humidity}}
  </div>
  <div class="weather-info-item weather-info-temperature">
    {{weatherInfo?.temp}}
  </div>
  <div class="weather-info-item weather-info-wind-speed">
    {{weatherInfo?.speed}}
  </div>
  <div class="weather-info-item weather-info-wind-deg">
    {{weatherInfo?.deg}}
  </div>
  <div class="weather-info-item weather-info-feels-like">
    {{weatherInfo?.feels_like}}
  </div>
  <div class="weather-info-item weather-info-pressure">
    {{weatherInfo?.pressure}}
  </div>
  <div class="weather-info-item weather-info-description">
    иконка
  </div>
</div>

