:host {
  width: 100%;
  //height: 90%;
  display: flex;
  justify-content: center;

  .weather-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    min-height: 330px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 7px -1px rgba(0, 0, 0, 0.2), 0px 3px 3px 1px rgba(0, 0, 0, 0.14), 3px 3px 5px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: auto 0;
    padding: 15px;

    &-item {
      margin: 7px;
    }

    &-city {
      align-self: stretch;
      font-size: 22px;
    }

    &-date {
      align-self: stretch;
    }

    &-icon {
      align-self: center;

    }

    &-temperature {
      align-self: flex-end;
      //text-align: right;
      font-size: 66px;
    }

    &-addition {
      width: 100%;
      display: flex;
      flex-direction: row;
      //margin-top: 5%;
      align-items: flex-end;

      justify-content: space-between;
      //overflow-x: auto;
      flex-shrink: 0;
      flex-basis: 101px;
      flex-grow: 1;

      &-item {
        margin: 5px;
        font-size: 14px;
      }
    }

    //&-addition::-webkit-scrollbar {
    //  width: 3px;
    //  height: 3px;
    //
    //  &-button {
    //    background-color: #999;
    //    width: 0;
    //  }
    //
    //  &-track {
    //    background-color: #999;
    //  }
    //
    //  &-piece {
    //    background-color: #ffffff;
    //  }
    //
    //  &-thumb {
    //    height: 50px;
    //    background-color: #666;
    //    border-radius: 3px;
    //  }
    //
    //  &-corner {
    //    background-color: #999;
    //  }
    //}
    //
    //&-resizer {
    //  background-color: #666;
    //}
  }


.card {
  min-width: 17rem;
  max-width: 50rem;
  max-height: 30%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 7px -1px rgba(0, 0, 0, 0.2), 0px 3px 3px 1px rgba(0, 0, 0, 0.14), 3px 3px 5px 2px rgba(0, 0, 0, 0.12);
  margin: auto 0
}

}

@media (min-width: 840px) and (max-width: 900px ) {
  :host{

    .weather-info {

      &-addition {

        &-item {
          font-size: 13px;
        }
      }
    }
  }
}

@media (min-width: 745px) and (max-width: 839px ) {
  :host{

    .weather-info {

      &-addition {

        &-item {
          font-size: 12px;
          margin: 3px;
        }
      }
    }
  }
}

@media (min-width: 691px) and (max-width: 744px ) {
  :host{

    .weather-info {

      &-addition {
        //align-items: center;

        &-item {
          font-size: 11px;
          margin: 3px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 690px ) {
  :host{

    .weather-info {

      &-addition {
        //align-items: center;
        flex-wrap: wrap;
        &-item {
          font-size: 12px;
          margin: 3px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 499px ) {
  :host{

    .weather-info {

      &-temperature {
        font-size: 50px;
      }

      &-addition {
        flex-direction: column;
        //align-items: center;
        flex-wrap: nowrap;
        justify-content: stretch;
        align-items: stretch;

        &-item {
          text-align: center;
          font-size: 12px;
          margin: 3px;
          font-weight: 500;
        }
      }
    }
  }
}
