<div class="content">

  <nav mat-tab-nav-bar backgroundColor="primary" color="accent" mat-align-tabs="center">
<!--      <a mat-tab-link class="tab" routerLink="" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact: true}"> Погода по названию</a>-->
<!--      <a mat-tab-link class="tab" routerLink="/alternative" routerLinkActive="active-tab"> Погода по ip или координатам</a>-->
    <a mat-tab-link *ngFor="let route of routes"
       [routerLink]="route.route"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}" > {{route.name}} </a>
  </nav>
</div>
  <router-outlet></router-outlet>


<!--[active]="activeLink == route.name"-->
