.active-tab {
  transform: scaleX(1.2);
  font-size: 16px;
  transition: all .35s;
}

.vk {

  a {
    width: 48px;
    height: 48px;

    mat-icon {
      font-size: 48px;
      color: blue;
    }
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    right: 0;
    cursor: default;
  }

  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
}


//.active-tab::before {
//  content: '';
//  height: 3px;
//  width: 100%;
//  background-color: red;
//  position: absolute;
//  transform: scaleX(0) translateY(21px);
//  transition: all .5s;
//
//}


