.form-content {
  color: black;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-content: space-evenly;
}

.location-form {
  //align-self: flex-end;
}

.input-field {
  width: 220px;
  margin: 5px 10px;
}
