/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    //background-color: #fff;
    //background-image: url(https://clipartspub.com/images/clipart-clouds-grey-9.png);
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: 50%;

  img {
    z-index: -2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    opacity: 1;
    min-width: 300px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

